.arrowImg {
  width: 6%;
  height: auto;
}
.searchText {
  font-size: 17px;
  font-family: Roboto;
}
.listing {
  width: 370px;
  height: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  align-items: center;
  margin-left: -8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
ul,
li {
  margin: 0;
  padding: 0;
}

.arrow-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrow {
  height: 16px;
  width: 16px;
}
